/* Importation de mes polices d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-Bold.woff'),
    url('../fonts/Raleway-Italic.woff'),
    url('../fonts/Raleway-Regular.woff');

    src: url('../fonts/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway-Italic.ttf') format('truetype'),
    url('../fonts/Raleway-Regular.ttf') format('truetype');


}


body{
    
    font-family: "Raleway", serif;
    max-width: 1160px;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: normal;

}


/* Apport du style pour toute la balise header */
 header{
    background-color: #782221 ;
    display: flex;
    flex-direction: column;
    align-items: center ;
    font-size: 100%;
    width: 100%;
    font-family: "Lato", serif;

}

header figure img{
    background-color: white;
    width: 40%;
    border-radius: 50%;
    box-shadow: 0 0 15px antiquewhite;    
}

header figure img:hover{
    cursor: zoom-in;
}

#profil{
    text-align: center;
}

#contact{
    display: flex;
    background-color: #2c1d27;
    flex-direction: row;
    width: 100%;
    
}

.contact__item{
    display: flex;
    width: inherit;
    padding: 25px;


}

.contact__link{
    display: flex;
    color: white;
    justify-self: start;
    font-style: italic;
    text-decoration: none;   
}

.contact__link:hover{
    text-decoration: underline;
}


/* Devra chercher et trouver une autre méthode pour l'alignement de mes éléments */
#contact__1{
    justify-content: flex-start;
}

#contact__2{
    justify-content: center;
}

#contact__3{
    justify-content: flex-end;
}


/* Style du main de la page */
#main{
    display: flex;
    flex-direction: row;
    width: 100%;
}


/* Style pour les rubriques : A propos, langues parlées et centres d'intérêts */
#left{
    display: flex;
    flex-direction: column;
    background-color: #782221;
    max-width: 25%;
    justify-content: left;
    padding-right: 5%;

}

.title__left{
    font-family: "Lato", serif;
    font-weight: bold;
    background-color: #dbc2a4;
    color: black;
    padding-left: 15px;
    height: 35px;
}

#indent{
    text-indent: 50px;
    padding-left: 15px;
}


/* Style pour les rubriques: Expériences professionnelles, diplômes/formations et compétences */
#right{
    display: flex;
    flex-direction: column;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    border-right: 1px solid black;
    width: 100%;
}

.title__right{
    font-family: "Lato", serif;
    font-weight: bold;
    background-color: #dbc2a4;
    border-left: 5px solid #782221;
    height: 35px;
}

.hover:hover{
    border-right: 2px solid #782221;
}


/* Style pour le footer */
footer{
    display: flex;
    flex-direction: column;
    background-color: #782221;
    align-items: center;
    width: 100%;
}

footer figure{
    display: flex;
    justify-content: center;
}


footer figure img{
    width: 5%;
    margin: 8px;
}

footer figure img:hover{
    opacity: 0.5;
}