@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    display: flexbox;
    background-color: #782221 ;
}


header figure img{
    background-color: white;
    width: 250px;
    border-radius: 50%;
    /* box-shadow: ; */

}